@model TMADLANGBAYAN1_Gym_Management.Models.Client

<figure class="row">
	<p class="col-auto">
		@{
			if (Model.ClientThumbnail?.Content != null)
			{
				string imageBase64 = Convert.ToBase64String(Model.ClientThumbnail.Content);
				string imageSrc = string.Format("data:" + Model.ClientThumbnail.MimeType + ";base64,{0}", imageBase64);
				<img src="@imageSrc" alt="Profile Picture of @Model.Summary" title="Profile Picture of @Model.Summary" class="img-fluid rounded" />
			}
			else
			{
				<img src="~/images/blankProfile.jpg" style="max-height: 80px; max-width: 96px" class="img-fluid rounded" />
			}
		}
	</p>
	<figcaption class="col mt-3"><h3><text class="d-none d-sm-inline">Client: </text>@Model.Summary</h3></figcaption>
</figure>
<div class="row">
	<div class="col-6">
		<dl class="row">
			<dt class="col-md-4">
				@Html.DisplayNameFor(model => Model.MembershipNumber)
			</dt>
			<dd class="col-md-8">
				@Html.DisplayFor(model => Model.MembershipNumber)
			</dd>
			<dt class="col-md-4">
				@Html.DisplayNameFor(model => Model.MembershipStatus)
			</dt>
			<dd class="col-md-8">
				@Html.DisplayFor(model => Model.MembershipStatus)
			</dd>
			<dt class="col-md-4">
				@Html.DisplayNameFor(model => Model.LastName)
			</dt>
			<dd class="col-md-8">
				@Html.DisplayFor(model => Model.LastName)
			</dd>
			<dt class="col-md-4">
				First/Middle
			</dt>
			<dd class="col-md-8">
				@Html.DisplayFor(model => Model.FirstName) @Html.DisplayFor(model => Model.MiddleName)
			</dd>
			<dt class="col-md-4">
				Age (@Html.DisplayNameFor(model => Model.DOB))
			</dt>
			<dd class="col-md-8">
				@Model.Age (@Html.DisplayFor(model => Model.DOB))
			</dd>
		</dl>
	</div>
	<div class="col-6">
		<dl class="row">
			<dt class="col-md-4">
				@Html.DisplayNameFor(model => Model.PostalCode)
			</dt>
			<dd class="col-md-8">
				@Html.DisplayFor(model => Model.PostalCode)
			</dd>
			<dt class="col-md-4">
				@Html.DisplayNameFor(model => Model.Phone)
			</dt>
			<dd class="col-md-8">
				@Html.DisplayFor(model => Model.PhoneFormatted)
			</dd>
			<dt class="col-md-4">
				@Html.DisplayNameFor(model => Model.Email)
			</dt>
			<dd class="col-md-8">
				@Html.DisplayFor(model => Model.Email)
			</dd>
			<dt class="col-md-4">
				@Html.DisplayNameFor(model => Model.MembershipFee)
			</dt>
			<dd class="col-md-8">
				@Html.DisplayFor(model => Model.MembershipFee)
			</dd>
			<dt class="col-md-4">
				@Html.DisplayNameFor(model => Model.Enrollments)
			</dt>
			<dd class="col-md-8">
				@{
					int condCount = Model.Enrollments.Count;
					if (condCount > 0)
					{
						string firstCond = Model.Enrollments.FirstOrDefault().GroupClass.Summary;
						if (condCount > 1)
						{
							string condList = "";
							var c = Model.Enrollments.ToList();
							for (int i = 1; i < condCount; i++)//Skip the first because we have it already
							{
								condList += c[i].GroupClass.Summary + " <br />";
							}
							<a class="" role="button" data-bs-toggle="collapse" href="#collapseHistory@(Model.ID)"
							   aria-expanded="false" aria-controls="collapseHistory@(Model.ID)">
								@firstCond <span class="badge bg-info">@condCount</span>
							</a>
							<div class="collapse" id="collapseHistory@(Model.ID)">
								@Html.Raw(condList)
							</div>
						}
						else
						{
							@firstCond
						}
					}
				}
			</dd>
		</dl>
	</div>
</div>
