@model TMADLANGBAYAN1_Gym_Management.Models.Workout

@{
	ViewData["Title"] = "Edit";
}

<h2>Update Workout for Client:  @Model.Client.Summary</h2>

<hr />
<form asp-action="Update">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" name="ClientID" value="@Model.ClientID" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorID" class="control-label"></label>
                <select asp-for="InstructorID" class="form-control" asp-items="ViewBag.InstructorID">
                    <option value="">Select the Instructor</option>
                </select>
                <span asp-validation-for="InstructorID" class="text-danger"></span>
            </div>
            <label class="control-label">@Html.DisplayNameFor(model => model.WorkoutExercises)</label>
            <div class="m-2">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<TMADLANGBAYAN1_Gym_Management.ViewModels.CheckOptionVM> checkboxes = ViewBag.ExerciseOptions;
                            foreach (var checkbox in checkboxes)
                            {
                                if (cnt++ % 2 == 0)
                                {
                                @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                            name="selectedOptions"
                                            value="@checkbox.ID"
                                            @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                    @checkbox.DisplayText @:&nbsp;&nbsp;
                                @:</td>
                            }
                        @:</tr>
                        }
                    </table>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
